.list_item {
  margin-right: $spacing-4;
  margin-bottom: $spacing-8;

  &_outer {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-light;
  }
  &_link {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-light;
  }

  &_image {
    // overflow: hidden;
    // transition: opacity 300ms, transform 300ms;

    &_wrapper {
      @include aspectRatio(2, 2);
      width: 100%;
      margin-bottom: $spacing-1;

      @include placeholderGrid;
    }
  }

  &_title {
    color: $color-magenta;
    margin-bottom: $spacing-2;
  }

  p {
    margin-bottom: $spacing-0;
    font-size: $fontSize-0;
  }

  &_link:hover {
    .list_item_image {
      transform: translateY($spacing-2 * -1);
    }
    .list_item_title {
      text-decoration: underline;
    }
  }

  header {
    margin-bottom: $spacing-4;
  }
}
