.list_item {
  margin-right: $spacing-4;
  margin-bottom: $spacing-8;

  &_outer {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-light;
  }
  &_link {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-light;
  }

  &.variant {
    &_square {
      &.image_wrapper {
        @include aspectRatio(1, 1);
      }
    }
    &_wide {
      &.image_wrapper {
        @include aspectRatio(16, 9);
      }
    }
    &_tall {
      &.image_wrapper {
        @include aspectRatio(9, 16);
      }
    }
  }

  &_title {
    color: $color-magenta;
    margin-bottom: $spacing-2;
  }

  p {
    margin-bottom: $spacing-0;
    font-size: $fontSize-0;
  }

  &_link:hover {
    .image {
      transform: translateY($spacing-2 * -1);
    }
    .list_item_title {
      text-decoration: underline;
    }
  }

  header {
    margin-bottom: $spacing-4;
  }
}
.image {
  &_wrapper {
    width: 100%;
    margin-bottom: $spacing-1;
    color: red;

    @include placeholderGrid;
  }
}
