.list_item {
  margin-right: var(--scale-3);
  margin-bottom: var(--scale-8);

  &_outer {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-lightest;
  }
  &_link {
    @include resetLink;
    width: 100%;
    border-top: 1px solid $color-gray-lightest;
  }

  &.variant {
    &_square {
      &.image_wrapper {
        @include aspectRatio(1, 1);
      }
    }
    &_wide {
      &.image_wrapper {
        @include aspectRatio(16, 9);
      }
    }
    &_tall {
      &.image_wrapper {
        @include aspectRatio(9, 16);
      }
    }
  }

  &_title {
    color: $color-magenta;
    margin-bottom: var(--scale-2);
  }

  p {
    margin-bottom: var(--scale-0);
    @include font-size(var(--scale-2));
  }

  &_link:hover {
    .image {
      transform: translateY(calc(var(--scale-2) * -1));
    }
    .list_item_title {
      text-decoration: underline;
    }
  }

  header {
    margin-bottom: var(--scale-3);
  }
}
.image {
  &_wrapper {
    width: 100%;
    margin-bottom: var(--scale-1);
    color: red;

    @include placeholderGrid;
  }
}
