.buttonWrapperStyle {
  display: flex;
  justify-content: space-between;
  gap: $spacing-4;
  border-top: 1px dashed $color-gray-light;
  border-bottom: 1px dashed $color-gray-light;
  // padding: $spacing-4 0;
}
