.controls {
  display: flex;
  margin: var(--scale-8) 0;

  &_search {
    width: calc(var(--grid-column-8) - var(--scale-3));
    margin-right: var(--scale-3);

    border-top: 1px dashed $color-gray-lightest;
    border-bottom: 1px dashed $color-gray-lightest;
  }
  &_language {
    border: 1px dashed $color-gray-lightest;
  }
}
.pokemon {
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &_inner {
    width: calc(var(--grid-column-8) - var(--scale-3));
    border-right: 1px dashed $color-gray-lightest;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  &_image {
    @include placeholderGrid($borderRight: false);

    width: var(--grid-column-4);
  }
}
