{
  "presets": [
    "@babel/preset-typescript",
    [
      "babel-preset-gatsby",
      {
        "targets": {
          "browsers": [">0.25%", "not dead"]
        }
      }
    ]
  ],
  "plugins": [["@babel/plugin-proposal-decorators", { "legacy": true }]]
}
