{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:mdx/recommended",
    "plugin:react-perf/recommended",
    "prettier"
  ],
  "globals": {
    "cy": true,
    "Cypress": true,
    "fs": true
  },
  "ignorePatterns": [
    "*.mock.*",
    "*.snap",
    "*.scss",
    "*.svg",
    "*.svg",
    "*.md",
    "*.json"
  ],
  "overrides": [
    {
      "env": {
        "jest": true
      },
      "files": ["**/*.test.ts", "**/*.test.tsx"],
      "rules": {
        "react-perf/jsx-no-new-array-as-prop": "off",
        "sonarjs/no-duplicate-string": "off"
      }
    },
    {
      "files": ["**/*.css.ts"],
      "rules": {
        "sonarjs/no-duplicate-string": "off"
      }
    },
    {
      "files": ["jest.*", "src/templates/*", "src/pages/*", "gatsby-config.ts"],
      "rules": {
        "import/no-default-export": "off"
      }
    }
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "babelOptions": {
      "presets": ["@babel/preset-react"]
    },
    "project": "./tsconfig.json",
    "requireConfigFile": true
  },
  "plugins": [
    "react-perf",
    "sonarjs",
    "jsdoc",
    "@typescript-eslint",
    "unused-imports"
  ],
  "rules": {
    "@typescript-eslint/consistent-type-imports": [
      "error",
      {
        "disallowTypeAnnotations": true,
        "prefer": "type-imports"
      }
    ],

    "@typescript-eslint/no-unused-vars": "off" /** Disabled in favour of `unused-imports` plugin */,
    "@typescript-eslint/prefer-optional-chain": "warn",
    "arrow-body-style": ["error", "always"],
    "import/no-cycle": "error",
    "import/no-default-export": "error",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": ["*.test.ts", "*.test.tsx"],
        "packageDir": "."
      }
    ],
    "import/prefer-default-export": "off",
    "no-console": [
      "error",
      {
        "allow": ["warn", "error", "info"]
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_uid"]
      }
    ],
    "no-unused-vars": "off" /** Disabled in favour of `unused-imports` plugin */,
    "react-perf/jsx-no-jsx-as-prop": "error",
    "react-perf/jsx-no-new-array-as-prop": "error",
    "react-perf/jsx-no-new-function-as-prop": "error",
    "react-perf/jsx-no-new-object-as-prop": "error",
    "react/button-has-type": "error",
    "react/destructuring-assignment": [
      "error",
      "always",
      {
        "destructureInSignature": "always",
        "ignoreClassFields": true
      }
    ],
    "react/jsx-filename-extension": ["error", { "extensions": [".tsx"] }],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": "off",
    "react/require-default-props": "off",
    "unused-imports/no-unused-imports": "error",
    "unused-imports/no-unused-vars": [
      "error",
      {
        "args": "after-used",
        "argsIgnorePattern": "^_",
        "vars": "all",
        "varsIgnorePattern": "^_"
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["~utils", "./src/utils"],
          ["~hooks", "./src/hooks"]
        ]
      },
      "node": {
        "extensions": [".ts", ".tsx", ".json"]
      }
    }
  }
}
