.bio {
  &_avatar {
    &_image {
      overflow: hidden;
      outline: 1px solid $color-gray-light;

      @include S-screens-down {
        flex-direction: column-reverse;
      }
    }
  }
}

.name {
  color: $color-primary;
}
