.insta_post_link_wrapper {
  position: relative;
  display: block;
  @include placeholderGrid;
  height: 100%;

  .image {
    height: 100%;
    overflow: hidden;
  }
  .caption_overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    padding: $spacing-4;
    background-color: rgba($color-purple, 0.9);
    color: $white;
    opacity: 0;
  }
  &:hover {
    .caption_overlay {
      opacity: 1;
    }
  }
}
