.horizontal_divider {
  @include resetHR;
  @include globalMaxWidth;
  width: 100%;

  border: none;

  height: 1px;

  &:after,
  &:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    border: 5px solid transparent;
    z-index: 1;
  }
  &:after {
    left: -6px;
    border-right: 16px solid $color-gray-light;
  }
  &:before {
    right: -6px;
    border-left: 16px solid $color-gray-light;
  }

  &.position {
    &_top {
      // position: absolute;
      top: 0;
      &:after,
      &:before {
        top: -5px;
      }
    }
    &_bottom {
      // position: absolute;
      bottom: 0;
      &:after,
      &:before {
        bottom: -5px;
      }
    }
  }
}
