.list {
  &_wrapper {
    margin: var(--scale-3) 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 99;

    width: var(--grid-column-4);

    border-radius: var(--scale-3);

    background: $color-white;

    border: 1px solid $color-gray-lightest;

    display: block;
  }
  &_inner {
    margin: var(--scale-3) 0;

    width: 100%;

    display: block;
    max-height: var(--scale-8);
    overflow: hidden;
    overflow-y: auto;
  }
}
