@font-face {
  font-family: "Dinish";
  src: url("Dinish-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Dinish";
  src: url("Dinish-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: "DinishExpanded";
  src: url("DinishExpanded-Regular.woff2");
  font-weight: 500;
}
@font-face {
  font-family: "DinishExpanded";
  src: url("DinishExpanded-Bold.woff2");
  font-weight: 700;
}
