.result {
  &_wrapper {
    @include resetList;
  }
  &_is_highlighted,
  &_is_selected {
    background-color: $color-gray-lightest;
  }
  &_is_selected {
    font-weight: $fontWeight-semibold;
  }
  &_link {
    @include resetLink;
    display: block;
    padding: var(--scale-3) var(--scale-5);
  }
}
