.alternating_layout {
  display: grid;
  gap: $spacing-section-inner;
  grid-template-columns: 1fr 1fr;
  &.ratio {
    &_1_2 {
      grid-template-columns: 1fr 2fr;
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
    &_1_3 {
      grid-template-columns: 1fr 3fr;
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
    &_2_1 {
      grid-template-columns: 2fr 1fr;
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
    &_3_1 {
      @include S-screens-down {
        grid-template-columns: 3fr 1fr;
        grid-template-columns: 1fr;
      }
    }
    &_5_7 {
      grid-template-columns: 5fr 7fr;
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
    &_7_5 {
      grid-template-columns: 7fr 5fr;
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
  }
}
