.global {
  &_wrapper {
    &_outer {
    }

    &_inner {
    }
  }
}
.main_heading {
  font-weight: $fontWeight-extrabold;
  @include font-size(var(--scale-8));
  margin: 0;
}

.hero_link_home {
  font-family: $font-heading;
  text-decoration: none;
  @include font-size(var(--scale-2));
}
