.global {
  &_wrapper {
    &_outer {
    }

    &_inner {
    }
  }
}
.main_heading {
  font-weight: $fontWeight-extrabold;
  font-size: $fontSize-7;
  margin: 0;
}

.hero_link_home {
  font-family: $font-heading;
  text-decoration: none;
  font-size: $fontSize-2;
}
