.blog {
  &_post {
    header h1 {
      margin: var(--scale-0) var(--scale-0) var(--scale-3) var(--scale-0);
    }

    header p {
      @include font-size(var(--scale-2));
      font-family: $font-heading;
    }

    &_nav ul {
      margin: var(--scale-0);
    }
  }
}
