.pokedex_nav {
  display: flex;
  margin: $spacing-8 0;
  gap: $spacing-4;

  &_search {
    width: 100%;

    border-left: 1px dashed $color-gray-lightest;
    border-top: 1px dashed $color-gray-lightest;
    border-bottom: 1px dashed $color-gray-lightest;
  }
  &_button {
    border: 1px dashed $color-gray-lightest;
  }
}
