.pokedex_nav {
  display: flex;
  margin: var(--scale-8) 0;
  gap: var(--scale-3);

  &_search {
    width: 100%;

    border-left: 1px dashed $color-gray-lightest;
    border-top: 1px dashed $color-gray-lightest;
    border-bottom: 1px dashed $color-gray-lightest;
  }
  &_button {
    border: 1px dashed $color-gray-lightest;
  }
}
