.hero {
  @include aspectRatio(10, 3);
  overflow: hidden;
  display: block;

  &_inner {
    display: flex;
    align-items: center;

    margin: $spacing-0 auto;
    max-width: $maxWidth-wrapper;
  }
  &_inner {
    display: flex;
    align-items: center;

    margin: $spacing-0 auto;
    max-width: $maxWidth-wrapper;
  }

  &_link_wrapper {
  }
  &_text_wrapper {
    max-width: var(--grid-column-8);
  }

  &_h1 {
    font-weight: $fontWeight-extrabold;
    font-family: $font-heading;
    line-height: $lineHeight-tight;
    font-size: $fontSize-8;
    // display: table-caption;

    margin: 0;

    color: $color-white;
  }
  &_h2 {
    font-family: $font-heading;
    font-size: $fontSize-4;
    font-weight: $fontWeight-extrabold;
    color: $color-white;

    margin: 0;
  }
}
