$spacing-section: var(--scale-12);
$spacing-section-inner: var(--scale-6);
/* ——————————————————————————————————————————————————————————————————————————————
//      SPACING RATIO                                                           
// —————————————————————————————————————————————————————————————————————————————— */
// This allows choosing a musical intervalic ratio to use to generate spacing variables
$config-scaleRatio: "perfect-fourth";
$config-fontSizeRoot: 16;
