$XXL-min-breakpoint: 1178px;
$XL-min-breakpoint: 1080px;
$L-min-breakpoint: 920px;
$M-min-breakpoint: 768px;
$S-min-breakpoint: 576px;
$XS-min-breakpoint: 360px;

// ——————————————————————————————————————————————————————————————————————————————
//      XXL SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin XXL-screens {
  @media (min-width: $XXL-min-breakpoint) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      XL SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin XL-screens-up {
  @media (min-width: $XL-min-breakpoint) {
    @content;
  }
}

@mixin XL-screens-down {
  @media (max-width: ($XXL-min-breakpoint - 1)) {
    @content;
  }
}

@mixin XL-screens {
  @media (min-width: $XL-min-breakpoint) and (max-width: ($XXL-min-breakpoint - 1)) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      L SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin L-screens-up {
  @media (min-width: $L-min-breakpoint) {
    @content;
  }
}

@mixin L-screens-down {
  @media (max-width: ($XL-min-breakpoint - 1)) {
    @content;
  }
}

@mixin L-screens {
  @media (min-width: $L-min-breakpoint) and (max-width: ($XL-min-breakpoint - 1)) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      M SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin M-screens-up {
  @media (min-width: $M-min-breakpoint) {
    @content;
  }
}

@mixin M-screens-down {
  @media (max-width: ($L-min-breakpoint - 1)) {
    @content;
  }
}

@mixin M-screens {
  @media (min-width: $M-min-breakpoint) and (max-width: ($L-min-breakpoint - 1)) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      S SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin S-screens-up {
  @media (min-width: $S-min-breakpoint) {
    @content;
  }
}

@mixin S-screens-down {
  @media (max-width: ($M-min-breakpoint - 1)) {
    @content;
  }
}

@mixin S-screens {
  @media (min-width: $S-min-breakpoint) and (max-width: ($M-min-breakpoint - 1)) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      XS SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin XS-screens-up {
  @media (min-width: $XS-min-breakpoint) {
    @content;
  }
}

@mixin XS-screens-down {
  @media (max-width: ($S-min-breakpoint - 1)) {
    @content;
  }
}

@mixin XS-screens {
  @media (min-width: $XS-min-breakpoint) and (max-width: ($S-min-breakpoint - 1)) {
    @content;
  }
}

// ——————————————————————————————————————————————————————————————————————————————
//      XXS SCREENS
// ——————————————————————————————————————————————————————————————————————————————

@mixin XXS-screens-down {
  @media (max-width: ($XS-min-breakpoint - 1)) {
    @content;
  }
}
