@mixin buttonBaseStyles {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: $fontFamily-sans;
  font-weight: $fontWeight-semibold;
  gap: var(--scale-1);

  border-radius: var(--scale-8);

  text-decoration: none;
  white-space: nowrap;
  padding: var(--scale-1) var(--scale-4);
}

@mixin buttonSizeSm {
  @include font-size(var(--scale-4));
}
@mixin buttonSizeMd {
  @include font-size(var(--scale-4));
}
@mixin buttonSizeLg {
  @include font-size(var(--scale-5));
}
@mixin buttonSizeSq {
  height: var(--scale-1) * 5;
  width: var(--scale-1) * 5;
  max-height: var(--scale-1) * 5;
  max-width: var(--scale-1) * 5;
}

@mixin buttonColorSolid(
  $backgroundColor: $color-magenta,
  $textColor: $white,
  $backgroundColorActive: $color-purple
) {
  background: $backgroundColor;
  color: $textColor;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:not([disabled]) {
    &:focus-visible,
    &:focus,
    &:hover {
      background: $backgroundColorActive;
    }

    &:active {
      background: $backgroundColorActive;
      box-shadow: inset 0 0 0 2px $backgroundColorActive;
    }
  }
}

@mixin buttonColorHollow(
  $backgroundColor: transparent,
  $borderColor: $color-magenta,
  $textColor: $color-magenta,
  $backgroundColorActive: $color-magenta
) {
  background: $backgroundColor;
  color: $textColor;
  border: 1px solid $borderColor;

  &[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
  }

  &:not([disabled]) {
    &:focus-visible,
    &:focus,
    &:hover {
      color: $backgroundColorActive;
      background: rgba($backgroundColorActive, 0.2);
      border: 1px solid $backgroundColorActive;
    }

    &:active {
      background: rgba($backgroundColorActive, 0.2);
      border: 1px solid $backgroundColorActive;
    }
  }
}
