@mixin inputBaseStyle {
  // transition: border-color $transition-time-hover;
}

@mixin inputBorder {
  border-radius: var(--scale-8);
  border-style: solid;
  border-width: 1px;
  border: 1px solid $color-gray-lightest;
  box-shadow: none;
  // transition: border-color $transition-time-hover;
  &:hover {
    border-color: $color-magenta;
  }
}

@mixin inputBorderFocus {
  outline: none !important;
  box-shadow: 0px 0px 0px 2px $color-orange-50 !important;
  border-color: $color-magenta !important;
  border-style: solid !important;
  border-width: 1px !important;
}
@mixin inputBorderFocusRightBottomLeftOnly {
  outline: none !important;
  box-shadow: -1px 0px 0px 1px $color-orange-50,
    0px 1px 0px 1px $color-orange-50, 1px 0px 0px 1px $color-orange-50 !important;
  border-color: $color-magenta !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-top: 0 !important;
}
@mixin inputBorderFocusTopRightLeftOnly {
  outline: none;
  box-shadow: -1px 0px 0px 1px $color-orange-50,
    0px -1px 0px 1px $color-orange-50, 1px 0px 0px 1px $color-orange-50 !important;
  border-color: $color-magenta !important;
  border-style: solid !important;
  border-width: 1px !important;
}
@mixin inputLabel {
  @include font-size(var(--scale-2));
  @include rfs($line-height-heading-5, line-height);
  display: block;
  color: $color-navy-80;
}

@mixin inputFontSizeSm {
  @include font-size(var(--scale-2));
}
@mixin inputFontSizeMd {
  @include font-size(var(--scale-2));
}
@mixin inputFontSizeLg {
  @include font-size(var(--scale-3));
}

@mixin inputBorderError {
  border-color: $semantic-red !important;
  box-shadow: 0px 0px 0px 2px $semantic-pink;
  &:hover {
    box-shadow: 0px 0px 0px 2px $color-orange-50 !important;
  }
}

@mixin inputErrorMessageText {
  @include font-size($font-size-body-xs);
  line-height: $line-height-body-xs;
  font-weight: $font-weight-semibold;

  color: $semantic-red;
}
