/* ——————————————————————————————————————————————————————————————————————————————
//      UTIL MIXINS FOR THIS FILE ONLY                                          
// —————————————————————————————————————————————————————————————————————————————— */
@mixin headingFontWeightBold {
  font-weight: $font-weight-bold;
  * {
    font-weight: $font-weight-bold;
  }
}
@mixin headingFontWeightExtraBold {
  font-weight: $font-weight-extra-bold;
  * {
    font-weight: $font-weight-extra-bold;
  }
}
@mixin headingFontWeightSemibold {
  font-weight: $font-weight-semibold;
  * {
    font-weight: $font-weight-semibold;
  }
}

/* ——————————————————————————————————————————————————————————————————————————————
//      HEADING BASE STYLES                                                     
// —————————————————————————————————————————————————————————————————————————————— */
// These should be applied to all heading elements to clear any defaults
@mixin headingBaseStyles {
  @include font-size(1rem);
  font-weight: $font-weight-regular;
  display: block;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/* ——————————————————————————————————————————————————————————————————————————————
//      HIERARCHICAL HEADING STYLES                                               
// —————————————————————————————————————————————————————————————————————————————— */
// These are defined like this for 2 reasons:
//  1. To allow composing headings that aren't defined in this component — e.g. greenhouse job post
//  2. To allow setting the visual hierarchy separately to the semantic hierarchy (Helps with SEO)

/* ——————————————————————————————————————————————————————————————
//      H1                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading1Styles {
  @include font-size($font-size-heading-1 !important);
  @include rfs($line-height-heading-1 !important, line-height);

  @include headingFontWeightBold;

  * {
    @include font-size($font-size-heading-1 !important);
    @include rfs($line-height-heading-1 !important, line-height);
  }
  margin-bottom: $spacing-2;

  &.isExtraBoldStyle {
    @include headingFontWeightExtraBold;
    letter-spacing: $letter-spacing-xxl;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H2                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading2Styles {
  @include font-size($font-size-heading-2 !important);
  @include rfs($line-height-heading-2 !important, line-height);
  @include headingFontWeightBold;
  * {
    @include font-size($font-size-heading-2 !important);
    @include rfs($line-height-heading-2 !important, line-height);
  }
  margin-bottom: $spacing-2;

  &.isExtraBoldStyle {
    @include headingFontWeightExtraBold;
    letter-spacing: $letter-spacing-xxl;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H3                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading3Styles {
  @include font-size($font-size-heading-3 !important);
  @include rfs($line-height-heading-3 !important, line-height);
  @include headingFontWeightBold;
  * {
    @include font-size($font-size-heading-3 !important);
    @include rfs($line-height-heading-3 !important, line-height);
  }
  margin-bottom: $spacing-2;

  &.isExtraBoldStyle {
    @include headingFontWeightExtraBold;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H4                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading4Styles {
  @include font-size($font-size-heading-4 !important);
  @include rfs($line-height-heading-4 !important, line-height);
  @include headingFontWeightSemibold;
  * {
    @include font-size($font-size-heading-4 !important);
    @include rfs($line-height-heading-4 !important, line-height);
  }

  margin-bottom: $spacing-2;

  &.isExtraBoldStyle {
    @include headingFontWeightExtraBold;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H5                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading5Styles {
  @include font-size($font-size-heading-5 !important);
  @include rfs($line-height-heading-5 !important, line-height);
  @include headingFontWeightSemibold;
  * {
    @include font-size($font-size-heading-5 !important);
    @include rfs($line-height-heading-5 !important, line-height);
  }

  margin-bottom: $spacing-2;

  // We deliberately use bold here as extra-bold is too heavy
  &.isExtraBoldStyle {
    @include headingFontWeightBold;
  }
  &.isUppercase {
    letter-spacing: 0.02rem;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H6                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading6Styles {
  @include font-size($font-size-heading-6 !important);
  @include rfs($line-height-heading-6 !important, line-height);
  * {
    @include font-size($font-size-heading-6 !important);
    @include rfs($line-height-heading-6 !important, line-height);
  }
  @include headingFontWeightSemibold;

  margin-bottom: $spacing-2;

  // We deliberately use bold here as extra-bold is too heavy
  &.isExtraBoldStyle {
    @include headingFontWeightBold;
  }
  &.isUppercase {
    letter-spacing: 0.02rem;
  }
}
/* ——————————————————————————————————————————————————————————————
//      H7                                                      
// —————————————————————————————————————————————————————————————— */
@mixin heading7Styles {
  @include font-size($font-size-heading-7 !important);
  @include rfs($line-height-heading-7 !important, line-height);
  * {
    @include font-size($font-size-heading-7 !important);
    @include rfs($line-height-heading-7 !important, line-height);
  }
  @include headingFontWeightSemibold;

  margin-bottom: $spacing-2;

  // We deliberately use bold here as extra-bold is too heavy
  &.isExtraBoldStyle {
    @include headingFontWeightBold;
  }
  &.isUppercase {
    letter-spacing: 0.02rem;
  }
}
