/*——————————————————————————————————————————————————————————————
 |                          FONT FAMILIES
———————————————————————————————————————————————————————————————**/
$fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman", Times,
  serif;
$font-body: $fontFamily-serif;
$font-heading: $fontFamily-sans;

/*——————————————————————————————————————————————————————————————
 |                          FONT WEIGHT
———————————————————————————————————————————————————————————————**/
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-medium: 500;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;
$fontWeight-black: 900;

/*——————————————————————————————————————————————————————————————
|                          FONT SIZE
———————————————————————————————————————————————————————————————**/
$fontSize-root: 20px;

/* 1.200 Minor Third Type Scale */
$fontSize-0: 0.833rem;
$fontSize-1: 1rem;
$fontSize-2: 1.2rem;
$fontSize-3: 1.44rem;
$fontSize-4: 1.728rem;
$fontSize-5: 2.074rem;
$fontSize-6: 2.488rem;
$fontSize-7: 2.986rem;
$fontSize-8: 3.583rem;
$fontSize-9: 4.3rem;
$fontSize-10: 5.16rem;

/*——————————————————————————————————————————————————————————————
 |                          LINE HEIGHT
———————————————————————————————————————————————————————————————**/
$lineHeight-tight: 0.9;
$lineHeight-sm: 1;
$lineHeight-md: 1.1;
$lineHeight-lg: 1.5;
$lineHeight-xl: 1.625;
