/*——————————————————————————————————————————————————————————————
 |                          FONT FAMILIES
———————————————————————————————————————————————————————————————**/
$fontFamily-sans: "Work Sans", sans-serif;
$fontFamily-serif: serif;
$font-body: $fontFamily-sans;
$font-heading: $fontFamily-sans;

/*——————————————————————————————————————————————————————————————
 |                          FONT WEIGHT
———————————————————————————————————————————————————————————————**/
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;

/*——————————————————————————————————————————————————————————————
|                          FONT SIZE
———————————————————————————————————————————————————————————————**/
$fontSize-root: 16px;

/* 1.200 Minor Third Type Scale */
$fontSize-0: 0.694rem;
$fontSize-1: 0.833rem;
$fontSize-2: 1rem;
$fontSize-3: 1.2rem;
$fontSize-4: 1.44rem;
$fontSize-5: 1.728rem;
$fontSize-6: 2.074rem;
$fontSize-7: 2.488rem;
$fontSize-8: 3.986rem;

/*——————————————————————————————————————————————————————————————
 |                          LINE HEIGHT
———————————————————————————————————————————————————————————————**/
$lineHeight-tight: 0.9;
$lineHeight-sm: 1;
$lineHeight-md: 1.1;
$lineHeight-lg: 1.5;
$lineHeight-xl: 1.625;
