/*——————————————————————————————————————————————————————————————
 |                          FONT FAMILIES
———————————————————————————————————————————————————————————————**/
$fontFamily-sans: "Work Sans", sans-serif;
$fontFamily-serif: serif;
$font-body: $fontFamily-sans;
$font-heading: $fontFamily-sans;

/*——————————————————————————————————————————————————————————————
 |                          FONT WEIGHT
———————————————————————————————————————————————————————————————**/
$fontWeight-light: 300;
$fontWeight-normal: 400;
$fontWeight-semibold: 600;
$fontWeight-bold: 700;
$fontWeight-extrabold: 800;

/*——————————————————————————————————————————————————————————————
|                          FONT SIZE
———————————————————————————————————————————————————————————————**/
$fontSize-root: 16px;

// 1.2 Minor third scale from
// https://type-scale.com/

// var(--scale-8): 2.986rem; // 47.78px
// var(--scale-7): 2.488rem; // 39.81px
// var(--scale-6): 2.074rem; // 33.18px
// var(--scale-5): 1.728rem; // 27.65px
// var(--scale-4): 1.44rem; // 23.04px
// var(--scale-3): 1.2rem; // 19.20px
// var(--scale-2): 1rem; // 16.00px
// var(--scale-1): 0.833rem; // 13.33px

/*——————————————————————————————————————————————————————————————
 |                          LINE HEIGHT
———————————————————————————————————————————————————————————————**/
$lineHeight-tight: 0.9;
$lineHeight-sm: 1;
$lineHeight-md: 1.1;
$lineHeight-lg: 1.5;
$lineHeight-xl: 1.625;
