.hero {
  display: flex;
  width: 100%;
  padding-top: $spacing-section;
  margin-bottom: $spacing-section;

  &_placeholder {
    content: " ";
    width: var(--grid-column-4);
    align-self: stretch;

    @include placeholderGrid($borderRight: false);
  }

  &_inner {
    width: var(--grid-column-8);
    &_text {
      padding-top: $spacing-8;
      padding-bottom: $spacing-8;
    }

    &_h1 {
      font-weight: $fontWeight-extrabold;
      font-family: $font-heading;
      line-height: $lineHeight-tight;
      font-size: $fontSize-8;
      display: table-caption;

      margin: 0;

      color: $color-magenta;

      max-width: var(--grid-column-8);
    }
    &_h2 {
      font-family: $font-heading;
      font-size: $fontSize-4;
      font-weight: $fontWeight-extrabold;

      margin: 0;

      color: $color-magenta;

      max-width: var(--grid-column-8);
    }
  }
}
