.button_wrapper {
  @include resetList;
  display: flex;
  gap: var(--scale-2);
  margin-top: var(--scale-5);
  margin-bottom: var(--scale-5);
  outline: 1px dashed $color-gray-lightest;
  &.isCentered {
    justify-content: center;
  }
  &.isSpaceBetween {
    justify-content: space-between;
  }
}
