.grid {
  @include resetList;
  display: grid;
  gap: $spacing-6;

  &_item {
    outline: 1px dashed $color-gray-light;
  }

  &.split {
    &_2 {
      grid-template-columns: repeat(2, 1fr);
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
    &_3 {
      grid-template-columns: repeat(3, 1fr);
      @include M-screens-down {
        grid-template-columns: repeat(2, 1fr);
      }
      @include S-screens-down {
        grid-template-columns: 1fr;
      }
    }
  }
}
