.wrapper {
  position: relative;

  &.isVerticallyCentered {
    display: flex;
    align-items: center;
  }

  &.hasPadding {
    padding: $spacing-section-inner;
  }
  &.background {
    @include placeholderGrid($borderRight: false);
  }
  &.outline {
    outline: 1px dashed $color-gray-lightest;
  }
  &.margin {
    &_left {
      margin-left: var(--scale-3);
    }
    &_right {
      margin-right: var(--scale-3);
    }
  }
}
