@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,600;0,700;1,800&display=swap");

:root {
  @include scale;
}

/* HTML elements */

html {
  box-sizing: border-box;
  overscroll-behavior: none;
  line-height: $lineHeight-lg;
  font-size: $fontSize-root;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  // background-color: $color-midground;
}

* {
  box-sizing: inherit;
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

body {
  width: 100vw;

  font-family: $font-body;
  @include font-size(var(--scale-4));

  color: $color-text;
}

footer {
  padding: var(--scale-5) var(--scale-0);
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
  margin-top: var(--scale-0);
  margin-bottom: var(--scale-3);
  line-height: $lineHeight-md;
  letter-spacing: -0.025em;
  word-break: normal;

  display: block;
  hyphens: auto;

  font-weight: $fontWeight-semibold;
  color: $color-heading;
}

h1 {
  @include font-size(var(--scale-9));
}

h2 {
  @include font-size(var(--scale-8));
}

h3 {
  @include font-size(var(--scale-7));
}
h4 {
  @include font-size(var(--scale-6));
}

h5 {
  @include font-size(var(--scale-5));
  color: $color-orange;
  text-transform: uppercase;
}
h6 {
  @include font-size(var(--scale-4));
  color: $color-orange;
  text-transform: uppercase;
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

h2 > a:after,
h3 > a:after,
h4 > a:after,
h5 > a:after,
h6 > a:after {
  content: "➞";
}

/* Prose */

p {
  line-height: $lineHeight-xl;
  @include font-size(var(--scale-4));
  $baseline-multiplier: 0.179;
  $x-height-multiplier: 0.35;
  margin: var(--scale-0) var(--scale-0) var(--scale-3) var(--scale-0);
  padding: var(--scale-0);
}

ul,
ol {
  margin-left: var(--scale-8);
  margin-right: var(--scale-0);
  padding: var(--scale-0);
  margin-bottom: var(--scale-8);
  list-style-position: outside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--scale-0);
  // margin-bottom: calc(var(--scale-8) / 2);
}

li > p {
  margin-bottom: calc(var(--scale-8) / 2);
}

li *:last-child {
  margin-bottom: var(--scale-0);
}

li > ul {
  margin-left: var(--scale-8);
  margin-top: calc(var(--scale-8) / 2);
}

blockquote {
  color: $color-text-light;
  margin-left: calc(-1 * var(--scale-5));
  margin-right: var(--scale-8);
  padding: var(--scale-0) var(--scale-0) var(--scale-0) var(--scale-5);
  border-left: var(--scale-1) solid $color-primary;

  @include font-size(var(--scale-2));
  font-style: italic;
  margin-bottom: var(--scale-8);
}

blockquote > :last-child {
  margin-bottom: var(--scale-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

table {
  width: 100%;
  margin-bottom: var(--scale-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid $color-accent;
}

/* Link */

a {
  color: $color-primary;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.gatsby-highlight {
  margin-bottom: var(--scale-8);
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--scale-0) var(--scale-0) var(--scale-0) var(--scale-3);
    margin-left: var(--scale-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
