.page_wrapper {
}

.pokemon {
  &_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &_search_wrapper {
    // width: calc(var(--grid-column-8) - var(--scale-3));
    margin: var(--scale-8) auto;

    display: flex;
    gap: var(--scale-3);
    align-items: center;
    border-top: 1px dashed $color-gray-lightest;
    border-bottom: 1px dashed $color-gray-lightest;
    h3 {
      margin: 0 0 var(--scale-2);
    }
  }
  &_inner {
    width: calc(var(--grid-column-8) - var(--scale-3));
    border-right: 1px dashed $color-gray-lightest;

    display: flex;

    flex-direction: column;
    justify-content: space-between;
  }
  &_image {
    @include placeholderGrid($borderRight: false);

    width: var(--grid-column-4);
  }
}
